extends layout

block content
  h1 Lista de Produtos
  table
    thead
      tr
        th ID
        th Nome
        th Descrição
        th Preço
        th Data Atualizado
    tbody
      each produto in produtos
        tr
          td= produto.id
          td= produto.nome
          td= produto.descricao
          td= produto.preco
          td= produto.data_atualizado
